# YesWiki stuff
wakka.config.php

cache/
!cache/empty.txt

files/
!files/empty.txt

themes/
!themes/empty.

tools/
!tools/empty.txt

# Macintosh OS
.DS_Store

# Eclipse IDe
.buildpath
.project
.settings/

# Other
.phpintel/
