<input type="hidden" name="action" value="update" />
  <table>
      <tr>
          <td align="right"></td>
          <td><?php echo _t('GREETINGS'); ?>, <?php echo $this->link($user["name"]) ?>&nbsp;!</td>
      </tr>
      <tr>
          <td align="right"><?php echo _t('YOUR_EMAIL_ADDRESS'); ?>&nbsp;:</td>
          <td><input name="email" value="<?php echo htmlspecialchars($user["email"], ENT_COMPAT, YW_CHARSET) ?>" size="40" /></td>
      </tr>
      <tr>
          <td align="right"><?php echo _t('DOUBLE_CLICK_TO_EDIT'); ?>&nbsp;:</td>
          <td><input type="hidden" name="doubleclickedit" value="N" /><input type="checkbox" name="doubleclickedit" value="Y" <?php echo $user["doubleclickedit"] == "Y" ? "checked=\"checked\"" : "" ?> /></td>
      </tr>
      <tr>
          <td align="right"><?php echo _t('SHOW_COMMENTS_BY_DEFAULT'); ?>&nbsp;:</td>
          <td><input type="hidden" name="show_comments" value="N" /><input type="checkbox" name="show_comments" value="Y" <?php echo $user["show_comments"] == "Y" ? "checked\"checked\"" : "" ?> /></td>
      </tr>
      <tr>
          <td align="right"><?php echo _t('MAX_NUMBER_OF_LASTEST_COMMENTS'); ?>&nbsp;:</td>
          <td><input name="changescount" value="<?php echo htmlspecialchars($user["changescount"], ENT_COMPAT, YW_CHARSET) ?>" size="40" /></td>
      </tr>
      <tr>
          <td align="right"><?php echo _t('MAX_NUMBER_OF_VERSIONS'); ?>&nbsp;:</td>
          <td><input name="revisioncount" value="<?php echo htmlspecialchars($user["revisioncount"], ENT_COMPAT, YW_CHARSET) ?>" size="40" /></td>
      </tr>
      <tr>
          <td align="right"><?php echo _t('YOUR_MOTTO'); ?>&nbsp;:</td>
          <td><input name="motto" value="<?php echo htmlspecialchars($user["motto"], ENT_COMPAT, YW_CHARSET) ?>" size="40" /></td>
      </tr>
      <tr>
          <td></td>
          <td><input type="submit" value="<?php echo _t('UPDATE'); ?>" /> <input type="button" value="<?php echo _t('DISCONNECT'); ?>" onclick="document.location='<?php echo $this->href("", "", "action=logout"); ?>'" /></td>
      </tr>
  </table>
